* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #652FB6;
}

h1, h2, h3 {
  text-align: center;
}

.book {
  border: 2px solid black;
  background-color: #C4A5F2;
  margin: 7px;
  padding: 5px;
  overflow: auto;
}

.bookShelf {
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  background-color: #A979EF;
  border: 2px solid black;
}

.form {
  background-color: #306F9F;
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 27px;
}

.openForm {
  width: 100vw;
  text-align: center;
}

.formbtn {
  padding: 5px;
  font-size: 1.3em;
  margin: 10px 0;
  background-color: #77BFCB;
}

.formInput {
  padding: 5px;
  font-size: 1.3em;
  margin: 7px;
}